@font-face {
  font-family: Cantarell;
  src: url(../fonts/Cantarell-Regular.ttf); }

@font-face {
  font-family: Cantarell-bold;
  src: url(../fonts/Cantarell-Bold.ttf); }

#main {
  width: 160px;
  clear: both;
  overflow: hidden;
  color: #333333; }
  #main div, #main p, #main a {
    font-family: Cantarell; }
  #main .time-data {
    width: 160px;
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 6px 6px;
    float: left; }
    #main .time-data .time-main {
      position: relative; }
      #main .time-data .time-main div, #main .time-data .time-main p {
        display: inline-block;
        vertical-align: top; }
      #main .time-data .time-main .time-bb {
        padding-right: 8px;
        border-right: 1px solid black; }
      #main .time-data .time-main .time-task {
        white-space: nowrap;
        word-wrap: normal;
        width: 52px;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 6px; }
      #main .time-data .time-main .time-total {
        font-weight: bold;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px; }
        #main .time-data .time-main .time-total:hover::after {
          content: "total";
          color: #333333;
          display: block;
          font-size: 9px;
          text-align: center;
          border-top: 1px dashed black;
          line-height: 8px; }
    #main .time-data .time-current {
      padding: 6px 0;
      margin: 4px 0;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray; }
    #main .time-data .time-history p {
      padding: 2px 0;
      position: relative; }
      #main .time-data .time-history p .time-p-task {
        cursor: pointer; }
        #main .time-data .time-history p .time-p-task:hover {
          border-bottom: 1px solid #333333; }
      #main .time-data .time-history p .time-p-time {
        font-weight: bold;
        display: block;
        position: absolute;
        right: 0px;
        top: 0px; }
  #main .time-buttons {
    width: 24px;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    float: right; }
  #main .button {
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 19px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 24px; }
    #main .button.tea-button {
      background-image: url("../icons/64_coffee.png"); }
    #main .button.settings-button {
      background-image: url("../icons/64_settings.png"); }
    #main .button.calendar-button {
      background-image: url("../icons/64_calendar.png"); }
    #main .button.start-button {
      background-image: url("../icons/64_play.png"); }
    #main .button.pause-button {
      background-image: url("../icons/64_pause.png"); }
    #main .button.stop-button {
      background-image: url("../icons/64_stop.png"); }

.options-page .form-wrapper {
  padding: 8px; }
  .options-page .form-wrapper .form-field {
    padding: 4px; }
    .options-page .form-wrapper .form-field label {
      margin-right: 12px; }
